<!doctype html>
<html>
  <head>
    <title>Vlc Remote | UI</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div id="play">
        
      </div>
      <div id="pause">

      </div>
      <div id="forward">

      </div>
      <div id="backward">

      </div>
    </div>
  </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/script.js"></script>
</html>
